<div class="container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="main">
        <div class="table-container">
            <div class="title">
                <h2>Items</h2>
            </div>
            <div class="filter">
                <input type="text" [(ngModel)]="inputValue" (input)="handleFilterValueChanges()" placeholder="Filter">
            </div>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let item of items">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.categoryName}}</td>
                    <td>{{item.status}}</td>
                    <td>
                        <div class="actions">
                            <a class="icon-background">
                                <ion-icon name="pencil" class="icon" (click)="handleEditItem(item)"></ion-icon>
                            </a>
                            <a>
                                <ion-icon name="trash-outline" class="icon" (click)="handleDeleteItem(item)"></ion-icon>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="add-button" (click)="handleAddItem()">Add item</button>
        </div>
    </div>
</div>