.home-container {
    text-align: center;
    margin-top: 2.5rem;
}

h2 {
    font-family: sans-serif;
}

.home-container h3 {
    /* Default color for all h3 elements within .home-container */
    color: #af1313;
}

.home-container h3:first-child {
    /* Reset color for all h3 elements */
    color: inherit;
}

.best-sellers-container {
    display: flex;
    width: 100%;
}

.column-left,
.column-right {
    flex: 1;
}

.column-left .row,
.column-right .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-left .row {
    align-items: flex-end;
}

.column-right .row {
    align-items: flex-start;
}

.row {
    height: 15rem;
    width: 100%;

}

img {
    height: 13rem;
    width: 15rem;
}

.column-left {
    padding-right: 2rem;
}

.column-right {
    padding-left: 2rem;
}

.column-left .text-container {
    text-align: right;
}

.column-right .text-container {
    text-align: left;
}